@model IEnumerable<OffreModel>

@{
  ViewData["Title"] = "Display Offres Page";
}

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header justify-content-between d-flex align-items-center">
        <h4 class="card-title">Offres
        </h4>
      </div><!-- end card header -->
      <div class="card-body">
        <table class="table align-middle mb-0 bg-white">
          <thead class="bg-light">
            <tr>
              <th>Title</th>
              <th>Pays</th>
              <th>Ville</th>
              <th>Date of begin</th>
              <th>Date of end</th>
              <th>Price</th>
              <th>Partenaires</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in Model)
            {
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px"
                    class="rounded-circle" />
                    <div class="ms-3">
                      <p class="fw-bold mb-1" id="title1">@item.Title_Offre</p>
                      <p class="text-muted mb-0">john.doe@gmail.com</p>
                    </div>
                  </div>
                </td>
                <td id="pays">@item.Pays</td>
                <td id="ville">@item.City</td>

                <td>
                  <p class="fw-normal mb-1 " id="Tdatebegin">@item.Date_Begin</p>
                </td>
                <td>
                  <span id="Tdatefin" >@item.Date_End</span>
                </td>
                <td id="Tprix">@item.Price_Offre</td>
                <td>
                  ppppppppppppppppp
                </td>
                <td class="" style="">
                  <div class="d-flex justify-content-evenly align-items-center ">
                    <a asp-controller="Admin" asp-action="Edit_Offre" asp-route-id="@item.Id">
                      <i class="fa-solid fa-gear  trash1_class" id="gear" data-bs-toggle="modal"
                      data-bs-target="#exampleModal" style="cursor: pointer; color:#3A1B53"></i>
                    </a>
                    <a asp-controller="Admin" asp-action="Delete" asp-route-id="@item.Id">

                      <i class="fa-solid fa-trash close1_class" style="cursor: pointer; color:red"></i>
                    </a>

                  </div>
                </td>
              </tr>
            }


          </tbody>
        </table>
      </div>
      <!-- end card body -->
    </div>
    <!-- end card -->
  </div>
  <!-- end col -->
</div>
@* <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Parametres de l'offre</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
  <form class="needs-validation" method="post" novalidate>
  <div class="row">
  <div class="col-md-6">
  <div class="mb-3">
  <label class="form-label" for="validationCustom01">Titre</label>
  <input type="text" class="form-control" id="validationCustom01" placeholder="Ajouter le titre" value=""
  required>
  <div class="valid-feedback">
  Looks good!
  </div>
  </div>
  </div><!-- end col -->
  <div class="col-md-6">
  <div class="mb-3">
  <label class="form-label" for="validationCustom03">Pays</label>
  <input type="text" class="form-control" id="validationCustom03" placeholder="Ajouter le pays" required>
  <div class="invalid-feedback">
  Please provide a valid Ville.
  </div>
  </div>
  </div><!-- end col -->
  <div class="col-md-6">
  <div class="mb-3">
  <label class="form-label" for="validationCustom03">Ville</label>
  <input type="text" class="form-control" id="validationCustom04" placeholder="Ajouter la ville" required>
  <div class="invalid-feedback">
  Please provide a valid Ville.
  </div>
  </div>
  </div><!-- end col -->
  <div class="col-md-6">
  <div class="mb-3 position-relative">
  <label class="form-label" for="validationTooltipUsername">Prix</label>
  <div class="input-group">

  <input type="text" class="form-control" id="validationprix" placeholder="Prix"
  aria-describedby="validationTooltipUsernamePrepend" required>
  <div class="input-group-prepend">
  <span class="input-group-text" id="validationTooltipUsernamePrepend">MAD</span>
  </div>
  <div class="invalid-tooltip">
  Please entrez un prix valide.
  </div>
  </div>
  </div>
  </div><!-- end col -->

  </div><!-- end row -->
  <div class="row">
  <div class="col-md-6">
  <div class="mb-3">
  <label class="form-label">Date début de l'offre</label>
  <input type="date" class="form-control" id="datedebut">
  </div>
  </div><!-- end col -->
  <div class="col-md-6">
  <div class="mb-3">
  <label class="form-label">Date fin de l'offre</label>
  <input type="date" class="form-control" id="datefin">
  </div>
  </div><!-- end col -->


  <div class="form-group col-md-12">
  <label for="exampleFormControlTextarea1">Description</label>
  <textarea class="form-control" id="description" rows="3"></textarea>
  </div>
  <div class="col-md-6 ">
  <div class="card">
  <div class="card-header justify-content-between d-flex align-items-center">
  <h4 class="card-title">Dropzone</h4>
  </div><!-- end card header -->
  <div class="card-body">
  <div>

  <div class="fallback">
  <input name="file" type="file" multiple="multiple" id="file_val">
  </div>
  <div class="dz-message needsclick">
  <div class="mb-3">
  <i class="display-4 text-muted uil uil-cloud-upload"></i>
  </div>

  <h6>Inserer une photo</h6>
  </div>

  <!-- end form -->
  </div>


  </div>
  </div><!-- end card -->
  </div> <!-- end col -->
  </div><!-- end row -->
  </form>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
  <button type="button" class="btn btn-primary">Enregistrer les modifications</button>
  </div>
  </div>
  </div>
  </div> *@
@* <input type="text" id="demo" value="uio" onclick="myFunction(event) " />
  <script type="text/javascript">
  var Mtitre = document.getElementById("validationCustom01");
  var MPays = document.getElementById("validationCustom03");
  var MVille = document.getElementById("validationCustom04");
  var MPrix = document.getElementById("validationprix");
  var Mdatedebut = document.getElementById("datedebut");
  var Mdatefin = document.getElementById("datefin");
  var Mdescription = document.getElementById("description");
  var Mfile_val = document.getElementById("file_val");

  var titre = document.getElementById("title1");
  var Pays = document.getElementById("pays");
  var Ville = document.getElementById("ville");
  var Prix = document.getElementById("Tprix");
  var datedebut = document.getElementById("Tdatebegin");
  var datefin = document.getElementById("Tdatefin");
  var description = document.getElementById("description");
  var file_val = document.getElementById("file_val");
  function myFunction(event) {
  document.getElementById('validationCustom01').innerHTML = document.getElementById("title1").innerHTML;
  }
  </script> *@