@model X.PagedList.IPagedList<dotn.Models.OffreModel>
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;


<div>
    <div class="container mt-5">
        <div class="row  ">
            <div class="col-4">
                <div class="container border p-3" style="background-color:#efe9f2">
                 @using (Html.BeginForm("Search", "Client", FormMethod.Get)){
                        <p class=" h5"><b>Search</b></p>
                        <div class="form-group">
                            <label for="exampleInputEmail1"><i>Depart</i></label>
                            <input type="date" class="form-control" name="Depart"
                               >
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"><i>Destignation</i></label>
                            <input type="date" class="form-control" name="Dest">
                        </div>
                        <div class="form-group">
                            <label><i>Option</i></label>

                            <div class="row">
                                <div class="col">
                                    <label for="colFormLabel">Min price </label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" name="Minprice">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="colFormLabel">Max price</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" name="Maxprice">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="colFormLabel">Hotel rating</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" name="Hotel">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="colFormLabel">Transport class</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="Transport">
                                </div>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <button type="submit" class="btn text-white "
                                    style="background-color:#381b51;">Search</button>
                            </div>

                </div>
                   }
            </div>

        </div>
        <div class="col-8 ">
            <div class="d-flex align-items-center flex-column">
                <h4><b>Liste des offres</b></h4>
                <p class="font-weight-light text-muted">@Model.TotalItemCount</p>
            </div>
            <div class="container mt-0
             mb-5">
                <div class="d-flex justify-content-center row">
                    <div class="col">
                        @foreach (var item in Model)
                        { 
                           <div class="row shadow p-3 mb-3 bg-body rounded">
                            <div class="col-md-3 mt-1 mb-1"><img
                                    class="img-fluid img-responsive rounded product-image h-100"
                                    src="@item.Picture_Offre"></div>
                            <div class="col-md-6 mt-1">
                                <h5>@item.Title_Offre</h5>
                                 <div class="mt-1 mb-1 spec-1"><span >&nbsp;<i class="fas fa-hotel"></i></span><span
                                        class="dot"></span><span>&nbsp;@item.id_Hotel.Name_Hotel   </span><span >&nbsp;<i class="fas fa-fighter-jet"></i>&nbsp;@item.id_Transport.Name_Transport</span></div>
                                <div class="d-flex flex-row">
                                    
                                    <div class="ratings mr-2" style="color:red;">
                                        @for (int i = 0; i < item.id_Hotel.Rating; i++)
                                        {
                                            <i class="fa fa-star"></i>
                                        }
                                        
                                    </div>
                                </div>
                               
                                
                                <p class="text-justify  para mb-2">@item.Description_Offre
                                <div class="text-end"><a href='#col-@item.Id' aria-expanded="false"  data-bs-toggle="collapse" >Voir Plus</a></div>
                                </p>
                               
                            </div>
                                 <div class="collapse multi-collapse" id="col-@item.Id">
                                        <div class="card card-body">
                                            <div class=" bg-light ">
      <div class="jumbotron">
        <h5 class="text-bg-dark"> @item.id_Transport.Name_Transport</h5>
        <div class="container">
            <div class="row row-cols-7">
                    <div class="col" >@item.id_Transport.heure_depart.Value.ToString("dd/MM/yyyy")</div>
                <div class="col">
                    <i class="fas fa-plane-departure"></i>
                </div>
                       
                         <div class="col" style="color:#439eb3">@item.id_Transport.heure_depart.Value.ToString("HH:MM")</div>
                <div class="col">
                        <i class="fas fa-long-arrow-alt-right"></i>
                </div>
                <div class="col">
                    <i class="fas fa-plane-arrival"></i>
                </div>
                        <div class="col" style="color: #fc4333;">@item.id_Transport.heure_Arrivee.Value.ToString("HH:MM")</div>

            </div>
        </div>

        <div class="row justify-content-around">
                <div class="col-3"style="color:#439eb3">
               @item.id_Transport.Ville_depart
            </div>
                    <div class="col-3"style="color: #fc4333;">
                 @item.id_Transport.Ville_Arrivee
            </div>
        </div>

        <hr class="my-3 bg-secondary" />

        <h5 class="text-bg-dark"> @item.id_Transport.Name_Transport</h5>
        <div class="container">
            <div class="row row-cols-7">
                    <div class="col" >@item.id_Transport.heure_Arrivee.Value.ToString("dd/MM/yyyy")</div>
                <div class="col">
                   
                    <i class="fas fa-plane-departure"></i>
                </div>




                        <div class="col" style="color: #fc4333;">@item.id_Transport.heure_depart.Value.ToString("HH:MM")</div>
                <div class="col">
                    <i class="fas fa-long-arrow-alt-right"></i>
                </div>
                <div class="col">
                  <i class="fas fa-plane-arrival"></i>
                </div>

                    <div class="col" style="color:#439eb3">@item.id_Transport.heure_Arrivee.Value.ToString("HH:MM")</div>

            </div>
        </div>

        <div class="row justify-content-around">
                    <div class="col-3"style="color: #fc4333;">
               @item.id_Transport.Ville_Arrivee
            </div>
                <div class="col-3" style="color:#439eb3">
               @item.id_Transport.Ville_depart
            </div>
        </div>
        
      </div>
   </div>
                                        </div>
                                    </div>
                            <div class="align-items-center align-content-center col-md-3  border-start mt-1">
                                <div class="d-flex flex-row align-items-center">
                                    
                                    <h4 class="mr-1">@if (@Context.Session.GetInt32("nbAdult")!=0&&@Context.Session.GetInt32("nbEnf")!=0)
                                    { 
                                          @(@item.Price_Offre*@Context.Session.GetInt32("nbAdult")+((@item.Price_Offre/2)*@Context.Session.GetInt32("nbEnf")))
                                    }
                                    else if(@Context.Session.GetInt32("nbAdult")!=0){
                                             @(@item.Price_Offre*@Context.Session.GetInt32("nbAdult"))
                                    }
                                    else{ @item.Price_Offre}
                                      MAD </h4>
                                </div>
                                @if (@Context.Session.GetInt32("nbAdult")!=0){
                                            <h6 style="color: #fc4333;">Prix pour @Context.Session.GetInt32("nbAdult") Adultes
                                                @if (@Context.Session.GetInt32("nbEnf")!=0)
                                                {<p>et @Context.Session.GetInt32("nbEnf") Enfant/s </p>
                                
                                                }  </h6>
                                        }
                                    
                                        else{
             <h6 style="color: #fc4333;">Prix pour 1 Adulte</h6>

                                        }
                                
                                <p style="color:#439eb3"><i
                                        class="fa-sharp fa-solid fa-bag-shopping"></i>&nbsp;Croisière sur le Bosphore
                                    <br /> <i class="fa-solid fa-ship"></i>&nbsp;Virée Shopping
                                </p>
                                <div class="d-flex flex-column mty-0"><button class="btn-sm butt " type="button">Ajouter
                                        au panier</button></div>
                            </div>
                        </div> 
                        }
                        
                       
                       
                       
                    </div>
                </div>
            </div>
            
             <div class="pagination" style="display:inline-block; vertical-align:middle;">
       @Html.PagedListPager(Model, page => Url.Action("Search", new { page, pageSize = Model.PageSize }),
        new PagedListRenderOptions {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
})
       
        Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Offers
     
 </div>
        </div>

    </div>

</div>